body 		{background-color:#99CCFF;}
.head		{background-color:#336699;
			height:175px}
.title		{position:relative;
			top:15%;
			left:5%}
.contact	{height:125px;
			width:225px;
			background-color:#6699CC;
			position:absolute;
			left:70%;
			top:6.25%;
			border-color:black;
			border-width:10px}
.foot		{position:absolute:
			bottom: -2.5%}